<div class="font-example">
    <h2>Gotham Font Examples</h2>
  
    <div class="gotham-bold">
      <p>Bretta Etc</p>
    </div>
  
    <div class="gotham-bold-italic">
      <p>Bretta Etc</p>
    </div>
  
    <div class="gotham-book">
      <p>Bretta Etc</p>
    </div>
  
    <div class="gotham-book-italic">
      <p>Bretta Etc</p>
    </div>
  
    <div class="gotham-light">
      <p>Bretta Etc</p>
    </div>
  
    <div class="gotham-light-italic">
      <p>Bretta Etc</p>
    </div>
  
    <div class="gotham-media">
      <p>Bretta Etc</p>
    </div>
  
    <div class="gotham-medium-1">
      <p>Bretta Etc</p>
    </div>
  
    <div class="gotham-medium-italic">
      <p>Bretta Etc</p>
    </div>
  </div>
  